.conatiner {
  width: 100%;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightgrey;
}

.gap {
  margin: 20px 0;
  width: 100%;
}

.toolbar {
  display: flex;
  width: 80%;
  composes: gap;
}

.slidelabel {
  flex: 1;
}
.slidebar {
  flex: 3;
}

.score {
  composes: gap;
  text-align: center;
}
