.container {
  width: 100%;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightgrey;
}

@media (orientation: landscape) and (max-width: 767px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.func {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gap {
  margin: 20px auto;
  width: 100%;
}

@media (min-width: 768px) {
  .gap {
    max-width: 580px;
  }
}

.toolbar {
  display: flex;
  width: 80%;
  composes: gap;
}

.slidegap {
  margin: 0 5px;
}
.slidelabel {
  flex: 1;
  composes: slidegap;
}
.slidebar {
  flex: 3;
  composes: slidegap;
}

.score {
  composes: gap;
  text-align: center;
}
